.side--bar {
    /* width: 100%; */
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 2rem;
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
}

.side--bar li a {
    display: block;
    padding: 1rem 2rem;
    color: var(--tertiary-color);
    /* font-size: 0.8rem; */
}

.side--bar li a:hover {
    background-color: var(--gray-300);
    color: var(--tertiary-color);
}

.dashboard--area {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    /* box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.1); */
}

.side--bar li a {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 10px;
    margin-bottom: 1rem;
}

.side--bar li .router-link-exact-active {
    background-color: var(--gray-300);
    color: var(--tertiary-color);
    border-right: 3px solid var(--tertiary-color);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
}

.el-tabs__item:hover {
    color: var(--tertiary-color) !important;
}

.el-tabs__item.is-active {
    color: var(--tertiary-color) !important;
}

.el-tabs__active-bar {
    background-color: var(--tertiary-color) !important;
}

.update--user form label {
    display: block;
    margin: 0;
    font-size: 0.9rem;
}

.update--user form input,
.update--user form textarea {
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.single--order_list {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 5px;
}

.single--order_list img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
}

.mobile--menu_tab .el-tabs__item {
    color: #fff;
    /* width: 50% !important; */
    text-align: center;
}

.mobile--menu_tab .el-tabs__nav {
    width: 100% !important;
}

.menu--content .top button {
    background: none !important;
    border: none;
    width: 50%;
    font-size: 15px !important;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    border-radius: 0 !important;
}

.menu--content .top .nav-tabs {
    display: flex !important;
}

.menu--content .top .search {
    border: 1px solid var(--gray-500);
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.menu--content .top .search input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    color: var(--gray-300);
    font-size: 12px;
    padding: 0.6rem;
}

.menu--content .top .search i {
    color: var(--gray-300);
}

.mobile--header_menu li a {
    color: var(--gray-300);
    font-size: 0.9rem;
}