    @media (max-width: 990px) {
        .container-fluid,
        .main-dashboard,
        .vendor--header {
            padding-left: 1.2rem !important;
            padding-right: 1.2rem !important;
        }
        .auth--container .options {
            width: 85%;
        }
        .modal--container {
            width: 80%;
        }
        .vendor--menu {
            display: none;
        }
        .main-content {
            margin-left: unset;
        }
        .vendor--sidebar {
            width: 80%;
        }
        .vendor-mobile li a {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 0.6rem 2rem;
            margin-bottom: 1.6rem;
            gap: 8px;
            font-size: 14px
        }
        .vendor-mobile li a:hover {
            color: var(--accent-color-light);
        }
        .vendor-mobile ul li .router-link-exact-active {
            color: var(--accent-color-light);
            border-right: 8px solid var(--accent-color-light);
            position: relative;
        }
        .vendor-mobile ul li .router-link-exact-active::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 1px;
            width: 50%;
            background-color: var(--accent-color-light);
        }
        .el-drawer__open .el-drawer.ltr {
            background-color: var(--accent-color-dark) !important;
        }
        .el-drawer__close-btn {
            color: #fff !important;
            font-size: 1.5rem !important;
            padding: 0;
        }
        .el-drawer__header {
            margin: 0 !important;
        }
        .products--list {
            grid-template-columns: 1fr 1fr;
        }
        .positive-item {
            flex-direction: column;
            justify-content: center;
            width: 100vw;
        }
        .our--positives::-webkit-scrollbar {
            display: none !important;
        }
        header {
            margin-top: 1.5rem;
        }
        header .header--content {
            display: unset;
        }
        .header--content .promo--images {
            width: 100%;
            margin-top: 20px;
            position: relative;
        }
        header .shop--now {
            display: none;
        }
        .search--field {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .select--category li {
            margin-bottom: 20px;
        }
        .user--side_drawer {
            width: 100% !important;
            margin-bottom: 20px;
        }
        .check--out_box {
            width: 100% !important;
            margin-top: 20px;
        }
        .growing {
            margin-bottom: 20px;
        }
        .web-menu {
            display: none;
        }
        .mobile-menu {
            display: block !important;
        }
        .store--listing {
            grid-template-columns: auto;
        }
        .view--store {
            grid-template-columns: auto;
        }
        .shop--products .products--list,
        .shop .products--list {
            grid-template-columns: repeat(2, 1fr);
        }
        .shop--products .search {
            width: 100%;
        }
        .left--side {
            display: none;
        }
        .select--category {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;
            justify-content: center;
        }
        .ratings--card {
            width: 100% !important;
        }
        .other--details .el-dialog__wrapper .el-dialog {
            width: 90% !important;
        }
        .shop--banner {
            height: 200px;
        }
        .shop--banner h1 {
            font-size: 22px;
        }
        .shop--banner h5 {
            font-size: 14px;
        }
        .flex--photos {
            display: grid !important;
            grid-template-columns: auto;
        }
        .forgot--password .login--page-wrapper {
            width: 80%;
        }
    }