    @media (max-width: 990px) {
        .container-fluid {
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
        }
        .auth--container .options {
            width: 85%;
        }
        .vendor--menu {
            display: none;
        }
        .main-content {
            margin-left: unset;
        }
        .vendor--sidebar {
            width: 80%;
        }
        .vendor-mobile li a {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 0.6rem 2rem;
            margin-bottom: 1.6rem;
            gap: 8px;
            font-size: 14px
        }
        .vendor-mobile li a:hover {
            color: var(--accent-color-light);
        }
        .vendor-mobile ul li .router-link-exact-active {
            color: var(--accent-color-light);
            border-right: 8px solid var(--accent-color-light);
            position: relative;
        }
        .vendor-mobile ul li .router-link-exact-active::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 1px;
            width: 50%;
            background-color: var(--accent-color-light);
        }
        .el-drawer__open .el-drawer.ltr {
            background-color: var(--accent-color-dark) !important;
        }
        .el-drawer__close-btn {
            color: #fff !important;
            font-size: 1.5rem !important;
        }
        .el-drawer__header {
            margin: 0 !important;
        }
        .products--list {
            grid-template-columns: 1fr 1fr;
        }
        .our--positives {
            /* grid-template-columns: auto; */
        }
        .positive-item {
            flex-direction: column;
            justify-content: center;
            width: 100vw;
        }
        header {
            margin-top: 1.5rem;
        }
        header .header--content {
            display: unset;
        }
        .header--content .promo--images {
            width: 100%;
            margin-top: 20px;
            position: relative;
        }
        header .shop--now {
            /* left: 80%;
            top: 80%; */
            display: none;
        }
        .search--field {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .select--category li {
            margin-bottom: 20px;
        }
        .user--side_drawer {
            width: 100% !important;
            margin-bottom: 20px;
        }
        .check--out_box {
            width: 100% !important;
            margin-top: 20px;
        }
        .growing {
            margin-bottom: 20px;
        }
        .web-menu {
            display: none;
        }
        .mobile-menu {
            display: block !important;
        }
    }