/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap'); */

.main--header {
    /* background-color: var(--tertiary-color); */
    background-color: var(--accent-color-dark);
    padding: 1.5rem 0;
    border-top: 1px solid var(--gray-700);
    border-bottom: 1px solid var(--gray-700);
}

.app--header_menu li a {
    color: #fff;
    font-size: 12px;
    position: relative;
    font-weight: 600;
}

.app--header_menu li a:after+.app--header_menu li a:hover {
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.app--header_menu li .router-link-exact-active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.app--header_menu li a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: right;
}

.app--header_menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.top--header_menu li a,
.top--header_menu li span {
    color: var(--primary-accent);
    font-size: 10px;
}

.mobile-menu {
    display: none;
}

.top--header_menu li a:hover {
    color: var(--tertiary-color);
}

.cart--icon .el-badge__content {
    border: none;
    font-size: 10px;
}

.search--field input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    border-left: 1px solid var(--gray-400);
}

.search--field input::placeholder {
    font-size: 0.8rem;
    color: var(--gray-500);
}

.search--field {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    gap: 3px;
    padding-right: 10px;
    width: 700px;
    font-size: 0.8rem;
    padding: 0.4rem 0.3rem;
    align-items: center;
    border: 2px solid var(--gray-400);
    position: relative;
}

.search--field select {
    padding: 0.3rem;
    border: none;
    outline: none;
    color: var(--gray-500);
}

.search--results {
    height: 300px;
    width: 700px;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.search--results .search--item:hover {
    color: var(--tertiary-color);
    transform: translate(10px);
}

.carousel--container .el-carousel__item img {
    height: 400px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.carousel--container .el-carousel__item {
    height: 400px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.category--image img {
    height: 100px;
    width: 100px;
    object-position: center;
    object-fit: cover;
}

.categories__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

.el-carousel__item--card img {
    object-fit: cover !important;
    object-position: center !important;
}


/* All Products Cards  */

.middle {
    opacity: 0;
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    bottom: 5%;
    color: #000;
}

.img-services1:hover .middle {
    opacity: 1;
    transition: 0.4s;
}

.img-services1:hover img {
    transform: scale(1.05)
}

.middle .icon:hover,
.middle i:hover {
    color: var(--tertiary-color) !important;
}

.img-services1 {
    width: 100%;
    height: 300px;
    background-color: #fff;
    /* border-radius: 10px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-services1 .percentage {
    position: absolute;
    background-color: var(--tertiary-color);
    top: 3%;
    left: 3%;
    border-radius: 4px;
    color: #fff;
    padding: 0.1rem 0.8rem;
    font-size: 14px;
    font-weight: 500;
}

.img-services1 img {
    width: 60%;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto;
}

.img-services1:hover:before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product--image {
    height: 200px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.products--list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.growing--vendors {
    border: 1px solid #efefef;
    padding: 1rem;
    border-radius: 10px;
}


/* price and details */


/* Header  */

header .shop--now {
    background-color: var(--tertiary-color);
    position: absolute;
    left: 68%;
    top: 35%;
    border: 8px solid #efefef;
}

header .see--offers {
    background-color: var(--accent-color-dark);
}

header h1 {
    font-size: 5rem;
}

header .shop--now,
header .see--offers {
    padding: 3rem;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

header .shop--now span {
    font-size: 0.8rem;
}

header .hero--content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
}

header .header--content {
    display: flex;
    position: relative;
    gap: 20px;
}

.header--content .carousel--container {
    width: 100%;
}

.header--content .promo--images {
    width: 25%;
}

.header--content .promo--images .el-carousel__item {
    width: 100%;
    /* height: 190px !important; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}

.header--content .promo--images .el-carousel__container {
    width: 100%;
    height: 190px !important;
}

.header--content .carousel--container .el-carousel__container {
    height: 400px;
}

.header--content .carousel--container .el-carousel__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}

.header--content .promo--images {
    height: max-content;
}

.header--content .promo--images .el-carousel--horizontal {
    width: 100%;
    height: 190px;
}

.header--content .promo--images {
    display: grid;
    grid-template-columns: auto;
    gap: 20px
}

.select--category img {
    width: 50px;
    height: 50px;
}

.select--category .category {
    background-color: #fff;
    padding: 2rem;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.select--category .category:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.select--category .category:hover+h6 {
    color: var(--tertiary-color) !important;
}

.our--positives {
    border-radius: 8px;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px */
}

.separator {
    background-color: #efefef;
    height: 50px;
    width: 1px;
}

.positive-item {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.our--positives ::-webkit-scrollbar {
    display: none !important;
    /* width of the entire scrollbar */
}

.positive-item p {
    font-weight: bold;
}

.video--description {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* App Footer  */

.footer {
    background: var(--accent-color-dark);
    /* height: 400px; */
    width: 100%;
    background-size: cover;
    background-position: bottom;
    /* margin-top: 3.3rem; */
    padding-top: 2rem;
}

.footer a,
.footer p {
    color: var(--gray-500);
    font-size: 0.9rem;
}

.footer a:hover {
    color: var(--gray-100);
}

.footer h4 {
    color: var(--gray-200);
    font-size: 1.2rem;
}


/* Check Oout  */

.checkout--item .product__image img {
    width: 80px;
    height: 80px;
}

.remove--btn {
    background-color: transparent;
    color: var(--gray-500);
    border: 1px solid var(--gray-500);
    padding: 0.5rem 0.3rem;
    font-size: 11px;
}

.remove--btn:hover {
    background-color: var(--gray-500);
    color: #fff;
}


/* Store Listing  */

.store--listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.store--listing .store {
    background-color: #fff;
    border-radius: 10px;
}

.store .cover--area {
    position: relative;
    background: url("@/assets/img/no-cover.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    border-radius: 10px 10px 0 0;
    background-position: top;
    background-size: cover;
}

.store .vendor--img {
    position: absolute;
    right: 15px;
    bottom: -35px;
}

.search--area,
.store {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.search--area {
    display: flex;
    align-items: center;
    gap: 10px
}

.search--area input {
    width: 100%;
    padding: 0.5rem 2rem;
    color: var(--accent-color-dark);
    border-radius: 5px !important;
    font-size: 12px !important;
    border: 1px solid var(--gray-500);
    outline: none;
}

.store--listing h5 a:hover {
    color: var(--tertiary-color) !important;
}

.view--store {
    display: grid;
    grid-template-columns: auto 75%;
    gap: 40px
}

.left--side_categories ul li a:hover {
    color: var(--tertiary-color) !important;
}

.left--side_categories ul li {
    margin-bottom: 1rem;
}

.left--side_categories ul li a {
    color: var(--accent-color-dark);
    display: block;
}

.left--side_categories .sub-category {
    display: flex !important;
    flex-direction: column !important;
}

.vendor-profile {
    height: 500px;
    border-radius: 5px;
    background: url("../img/no-cover.png");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.vendor-profile .left--details {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 30%;
    border-radius: 10px 0 0 10px;
}

.border--area {
    border: 1px solid var(--gray-400);
    padding: 0.8rem;
    border-radius: 5px;
}

.shop--products .products--list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shop--products .search {
    display: flex;
    width: 40%;
}

.shop--products .search button {
    border-radius: 0 !important;
    font-size: 15px !important;
}

.shop--products input {
    background: none;
    border: 1px solid var(--gray-400);
    outline: none;
    width: 100%;
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    color: var(--accent-color-dark);
}

.shop--products input::placeholder {
    color: var(--gray-500);
}

.discover--btn {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px !important;
}

.discover--btn:hover {
    background: #fff;
    color: var(--tertiary-color) !important;
    transition: all 0.2s !important;
}

.shop .products--list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.shop .filters .el-input__inner::placeholder {
    font-size: 0.7rem;
    color: var(--accent-color-dark);
    font-weight: 300;
}

.el-select-dropdown__item {
    font-size: 0.8rem !important;
    width: max-content;
    background-color: var(--gray-200);
    border-radius: 3px;
}

.el-select-dropdown__list {
    display: flex !important;
    padding: 10px !important;
    width: 200px;
    flex-wrap: wrap;
    gap: 10px;
}

.el-select-dropdown__item:hover {
    color: var(--tertiary-color);
    /* background-color: var(--gray-200) !important; */
}

.el-select-dropdown__item.hover {
    color: #fff;
    background-color: var(--tertiary-color) !important;
}

.other--details .el-tabs__item {
    font-size: 22px;
    margin-top: 2rem;
    font-weight: 600;
    color: var(--gray-400);
}

.product--video {
    height: 350px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    width: 100%;
}

.product--video .play--icon i {
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.description--content {
    font-size: 0.9rem;
}

.description--content p {
    font-weight: 400;
}

.description--content ol li,
.product_data ol li {
    font-weight: 400;
    list-style-type: decimal !important;
    margin-left: 15px;
}

.other--details .el-dialog__wrapper .el-dialog {
    background-color: transparent !important;
    box-shadow: unset;
}

.other--details .el-dialog__wrapper .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.review--textarea textarea {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    font-size: 0.8rem;
    color: var(--accent-color-dark);
}

.review--textarea textarea::placeholder {
    font-size: 0.8rem;
    color: var(--gray-400);
}

.shop--details_left {
    height: 350px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop--details_right img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.shop--banner {
    background: url("../img/shop-banner.jpeg");
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.shop--banner h1 {
    font-size: 45px;
    font-weight: 800;
}

.el-descriptions-item__label {
    font-weight: 700 !important;
}

.el-descriptions__body {
    background-color: transparent !important;
}

.el-descriptions__header {
    margin-bottom: 8px !important;
}

.check--out_box input {
    display: block;
    width: 100%;
    border: 1px solid var(--gray-400);
    background: transparent;
    border-radius: 3px;
    padding: 0.6rem 0.6rem;
    font-size: 0.8rem;
    outline: none;
}

.default select {
    border: 1px solid var(--gray-400);
    outline: none;
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
    color: var(--accent-color-dark);
}

.no--item {
    background-color: rgba(255, 0, 0, 0.143);
    color: red;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
}


/* Ribbon  */

.ribbon {
    position: absolute;
    top: 5px;
    right: 0;
    background: linear-gradient(90deg, var(--tertiary-color), var(--accent-color-dark));
    color: #fff;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.badge {
    background-color: green;
    color: #fff;
    font-weight: 800;
    font-size: 0.9rem;
}